.navigationAdminPanel{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 24px;
    margin-left: -24px;
}

.highlight{
    position: absolute;
    inset: 0;
    border-radius: 0 10px 10px 0;
    background: #4A5B7C;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    z-index: -1;
}

.navItem{
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    padding: 8px 24px;
    width: 185px;
    min-width: 185px;
    margin-left: -13px;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    transition: color .2s;
    color:var(--font-secondary);
}

