.adminPanel{
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--bg-primary);
    z-index: 0;
}

.mainAdminPanel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    gap: 7px;
    position: relative;
    width: 100%;
    z-index: 1;
    color: var(--font-primary);
    max-width: 100%;
    margin: 0 auto;
}

.leftBox{
    flex: .1;
    display: flex;
    flex-direction: column;
    gap: 54px;
    position: relative;
    background: var(--bg-quaternary);
    justify-content: center;
}

.username{
    color: var(--font-secondary);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 0;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
    z-index: 0;
}