.agreements {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: clamp(8px, 1vw, 15px);
    justify-content: center;
    width: 100%;
}

.agreementsTitle {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--font-primary);
    font-size: 0.938vw;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}

.agreementsTitle::after,
.agreementsTitle::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 38%;
    height: 1px;
    background: var(--font-primary);
}

.agreementsTitle::after {
    left: 0;
}

.agreementsTitle::before {
    right: 0;
}

.userAgreementCaptcha {
    display: flex;
    flex-direction: column;
    background: #313036;
    border-radius: 6px;
    padding: clamp(6px, .2vw, 10px);
}

.captchaTop {
    display: flex;
    flex-direction: row;
    gap: clamp(8px, 1vw, 15px);
    align-items: center;
}

.captchaText {
    color: var(--bg-secondary);
    font-size: clamp(14px, 1.2vw, 18px);
    font-weight: 500;
    line-height: 1.3;
    padding: 0;
    margin: 0;
}

.captchaDescription {
    color: var(--bg-secondary);
    font-size: clamp(12px, 1vw, 16px);
    font-weight: 500;
    line-height: normal;
    margin-left: clamp(30px, 4vw, 60px);
}

.captchaLink {
    text-decoration: underline;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--btn-secondary);
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    padding: 0;
    transition: color .2s ease-in-out, color .2s ease-in-out;
}

.captchaLink:hover {
    color: var(--btn-secondary-hover);
}

.captchaLink:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.YandexCaptchaWrapper{
    width: 100%;
    height: auto;
}

.modalOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.27); /* Fallback */
    backdrop-filter: blur(2px);
    z-index: 9998;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .agreementsTitle {
        font-size: 0.85vw;
    }

    .captchaDescription {
        margin-left: clamp(20px, 3vw, 40px);
    }
}

@media (min-width: 1441px) and (max-width: 2559px) {
    .agreementsTitle {
        font-size: 0.9vw;
    }

    .captchaDescription {
        margin-left: clamp(25px, 3.5vw, 50px);
    }
}

@media (min-width: 2560px) {
    .agreementsTitle {
        font-size: 0.75vw;
    }

    .captchaDescription {
        margin-left: clamp(30px, 3vw, 60px);
    }
}