.loginTitle {
    font-size: 1.875vw;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: clamp(15px, 2vh, 30px);
    color: var(--font-primary);
}

.numberPhone {
    display: flex;
    flex-direction: column;
    gap: clamp(8px, 1vw, 15px);
    margin-top: 5%;
}

.numberPhoneLabel {
    font-size: 1vw;
    font-weight: 500;
    line-height: 1.2;
    color: var(--font-primary);
}

.numberPhoneForm {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: clamp(4px, 0.5vw, 8px);
}

.numberPhoneInput {
    flex: 1;
    min-width: 0;
    max-width: 62%;
    color: var(--font-primary);
    height: 59px;
    border-radius: 6px;
    border: 1px solid var(--bg-quaternary);
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(18px);
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.2;
    padding: 0 clamp(8px, 1vw, 15px);
    outline: none;
    transition: border-color .2s ease-in-out;
}

.numberPhoneInput::placeholder {
    font-size: 1.375rem;
    font-weight: 400;
    color: var(--bg-quaternary);
    opacity: 0.8;
}

.numberPhoneInput:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .loginTitle {
        font-size: 1.7vw;
    }

    .numberPhoneLabel {
        font-size: 1.05vw;
    }
}

@media (min-width: 1441px) and (max-width: 2559px) {
    .loginTitle {
        font-size: 1.8vw;
    }

    .numberPhoneLabel {
        font-size: 1.1vw;
    }
}

@media (min-width: 2560px) {
    .agreementsTitle {
        font-size: 0.75vw;
    }

    .captchaDescription {
        margin-left: clamp(30px, 3vw, 60px);
    }

    .loginTitle {
        font-size: 1.6vw;
    }

}