.message {
    max-width: 70%;
    padding: 10px 14px;
    border-radius: 15px;
    margin: 6px 0;
    font-size: 0.9rem;
    line-height: 1.3rem;
    white-space: pre-wrap;
}

.user {
    background-color: var(--bg-primary);
    color: var(--font-primary);
    align-self: flex-end;
    border-bottom-right-radius: 0;
}

.support {
    background-color: var(--btn-secondary);
    color: var(--font-primary);
    align-self: flex-start;
    border-bottom-left-radius: 0;
}
