.codeSection {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: clamp(8px, 1vw, 15px);
    justify-content: center;
    align-items: center;
    margin-top: clamp(20px, 3vh, 40px);
}

.codeSectionLabel {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bg-quaternary);
}

.codeInputs {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: clamp(12px, 1.5vw, 20px);
    flex-wrap: wrap;
    justify-content: center;
}

.codeInput {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid var(--bg-quaternary);
    background: rgba(255, 255, 255, 0.9); /* Fallback */
    backdrop-filter: blur(18px);
    outline: none;
    font-size: 1.146vw;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    transition: border-color .2s ease-in-out;
}

.codeInputError {
    border-color: var(--alert-error);
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-5px); }
    40%, 80% { transform: translateX(5px); }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .codeSectionLabel {
        font-size: 1.05vw;
    }

    .codeInput {
        font-size: 1.05vw;
        width: 52px;
        height: 52px;
    }
}

@media (min-width: 1441px) and (max-width: 2559px) {
    .codeSectionLabel {
        font-size: 1.1vw;
    }

    .codeInput {
        font-size: 1.1vw;
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 2560px) {
    .codeInput {
        font-size: 1vw;
        width: 80px;
        height: 80px;
    }
}