.PersonalDataModel{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    max-height: 762px;
    overflow: hidden;
}

.PersonalDataModel .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.PersonalDataModel .top button{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personalData{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;
    height: 710px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #2E374F #F0F3F6;
}

.personalData::-webkit-scrollbar {
    width: 8px;
    background: #F0F3F6;
}

.personalData::-webkit-scrollbar-track {
    background: #F0F3F6;
    border-radius: 2px;
}

.personalData::-webkit-scrollbar-thumb {
    background: #2E374F;
    border-radius: 2px;
}

.personalData::-webkit-scrollbar-button {
    display: none;
}