.mainStart {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.gradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background);
    z-index: 1;
    pointer-events: none;
    opacity: 0.8;
}

.mainContent {
    position: relative;
    height: 100%;
    width: 100%;
    padding: clamp(40px, 6vh, 80px) clamp(60px, 10vw, 120px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    z-index: 2;
}


.startLeftBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 auto;
    min-width: 0;
}

.logoServices {
    display: flex;
    flex-direction: column;
    gap: clamp(15px, 2vw, 30px);
}

.logoCheckRf {
    display: flex;
    flex-direction: row;
    gap: clamp(10px, 1vw, 20px);
    align-items: center;
    flex-wrap: wrap;
}

.logoCheckRfIcon {
    width: clamp(40px, 4.219vw, 80px);
    height: auto;
    flex-shrink: 0;
}

.fnsLogo {
    width: clamp(120px, 15.521vw, 250px);
    height: auto;
    flex-shrink: 0;
}

.logoTitle {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.logoTitleMain {
    color: var(--font-secondary);
    font-size: 2.188vw;
    font-weight: 600;
    line-height: 1.1;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

.logoTitleSubtitle {
    color: var(--font-secondary);
    font-size: 0.99vw;
    font-weight: 600;
    line-height: 1.1;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

.formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-left: auto;
    width: clamp(700px, 39.271vw, 800px);
}

.startRightBox {
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--main-box-shadow);
    background: var(--font-secondary);
    height: 100%;
    max-height: clamp(640px, 63.519vh, 700px);

}

.registerModal {
    height: 100%;
    display: flex;
    padding: clamp(10px, 1vw, 20px);
    flex-direction: column;
    gap: clamp(15px, 2vw, 30px);
    justify-content: space-between;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .logoTitleMain {
        font-size: 2vw;
    }

    .logoTitleSubtitle {
        font-size: 0.88vw;
    }

    .formWrapper {
        width: clamp(600px, 40vw, 700px);
    }

    .startRightBox {
        max-height: 650px;
    }
}


@media (min-width: 1441px) and (max-width: 2559px) {
    .logoTitleMain {
        font-size: 2.1vw;
    }

    .logoTitleSubtitle {
        font-size: 1vw;
    }

    .formWrapper {
        width: clamp(700px, 38vw, 850px);
    }

    .startRightBox {
        max-height: 680px;
    }

}

@media (min-width: 2560px) {
    .mainContent {
        max-width: 2560px;
        margin: auto;
        max-height: 1440px;
    }

    .logoTitleMain {
        font-size: 1.6vw;
    }

    .logoTitleSubtitle {
        font-size: 0.8vw;
    }

    .formWrapper {
        width: clamp(800px, 30vw, 1000px);
    }

    .startRightBox {
        max-height: 840px;
    }

    .fnsLogo {
        width: clamp(200px, 13vw, 320px);
    }

    .logoCheckRfIcon {
        width: clamp(60px, 5vw, 100px);
    }
}

