.account{
    display: flex;
    flex-direction: column;
    gap: 19px;
    flex: .9;
    user-select: none;
    min-height: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__right {
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 13px;
}

.mainAccount{
    display: flex;
    flex-direction: column;
    gap: 1%;
    height: 100%;
    min-height: 0;
}

.mainAccount .top{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.welcome{
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    opacity: 0.8;
}

.mainAccount .top .description{
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
}

.mainAccount .top:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #6B6B6B;;
}

.mainAccountContent {
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}

.mainSection{
    flex: 1 1 75%;
    min-width: 0;
    display:flex;
    flex-direction:column;
    gap: 25px;
}

.basicInformation, .cardSubscribe, .expensesPerMonth{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #FEFEFE;
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    height: 100%;
}

.basicInformation {
    flex: 52.01%;
}

.subscription {
    flex: 45.97%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.cardSubscribe{
    flex: 77.66%;
}

.autoPayment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    flex: 15.84%;
    border-radius: 10px;
    background: #FEFEFE;
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.25);
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: background 0.2s ease-in-out;
    cursor: pointer;
}

.autoPayment svg{
    transform: rotate(-45deg);
    transition: transform 0.2s ease-in-out;
}

.autoPayment:hover{
    background: #dcdfe3;
}

.autoPayment:hover svg{
    transform: rotate(0);
}

.autoPayment:active svg{
    transform: translateX(5px);
}

.basicInformation .content{
    flex: .9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoSection {
    flex: 50.73%;
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 100%;
    box-sizing: border-box;
}

.infoExpenses {
    flex: 45.4%;
}

.titleWrapper, .payBtn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #2E374F;
    flex: .1;
}

.title{
    color: #FEFEFE;
    font-size: 1.3125rem;
    font-weight: 600;
    line-height: normal;
    padding: 11px 0 11px 18px;
}

.info{
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 18px;
    height: 100%;
}

.mainInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.secondInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.0625rem;
    opacity: 0.8;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.column{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.column:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100%;
    height: 1px;
    background-color: #C2C2C2;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.progressBar{
    position: relative;
    width: 100%;
    height: 12px;
    background: #F0F3F6;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.progressBar:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 3px;
    width: 80%;
    height: 8px;
    border-radius: 15px;
    background: #2E374F;
}

.changeBtns{
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 0 18px 18px;
    justify-content: center;
    margin-top: auto;
}

.changeBtns button{
    border: none;
    outline: none;
    border-radius: 5px;
    background: #A7DFF1;
    color: var(--textColor);
    font-size: .9rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 6px 13px;
    cursor: pointer;
    transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.changeBtns button:hover{
    background: var(--color-primary-hover);
}

.changeBtns button:active{
    transform: scale(0.97);
}


.extend{
    display: flex;
    flex-direction: row;
    gap: 18px;
    color: #2E374F;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: center;
    padding-bottom: 30px;
    text-wrap: nowrap;
}


.btnPeriod{
    border-radius: 5px;
    background-color: #F0F3F6;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
    padding: 5px 18px;
    color: var(--textColor);
    font-size: .85rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
}

.btnPeriod:hover {
    background-color: #dcdfe3;
    transform: scale(1.05);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.btnPeriod:active {
    transform: scale(1);
    transition: transform 0.1s ease;
}


.activePeriod {
    background-color: #2E374F;
    border-radius: 5px;
    color: var(--mainTextColor);
    box-shadow: 0 4px 10px rgba(46, 55, 79, 0.6);
    transform: scale(1.05);
    padding: 5px 18px;
    font-size: .85rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.activePeriod:hover {
    background-color: var(--textColorHover);
    transform: scale(1.05);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.activePeriod:active {
    transform: scale(1);
    transition: transform 0.1s ease;
}

.payBtn{
    padding: 12px 0;
    outline: none;
    border: none;
    align-items: center;
    justify-content: center;
    color: #FEFEFE;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.payBtn:hover{
    background: #252c3e;
    color: var(--mainTextColor);
}

.reklama {
    background: #505050;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    flex: 0 0 25%;
}

.expenses{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 16px;
    flex: 1;
    align-items: center;
    height: 100%;
}

.amountOfExpenses{
    display: flex;
    flex-direction: column;
    gap: 28px;
    height: 100%;
    justify-content: center;
    flex: .27;
}

.columnExpenses{
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 7px 25px 20px;
    border-radius: 6px;
    background: #2E374F;
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.25);
    color: #FFF;
    justify-content: center;
    align-items: center;
}

.titleExpenses{
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.infoExpenses{
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.graphModal {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--textColor);
    border-radius: 6px;
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow: visible;
    position: relative;
    flex: .73;
}

.modalOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.27);
    backdrop-filter: blur(2px);
    z-index: 9998;
}

.dateGraph{
    color: var(--text-invert);
    font-size: .75rem;
    font-weight: 400;
    opacity: .6;
    position: absolute;
    top: 10px;
    left: 10px;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .top .welcome{
        font-size: .75rem;
    }

    .mainAccount .top .description{
        font-size: 1rem;
    }

    .mainAccountContent {
        gap: 1%;
    }

    .info {
        padding: 0 14px;
    }

    .description {
        font-size: 1rem;
    }

    .infoExpenses {
        font-size: 1.5rem;
    }


    .graphModal{
        max-height: 232px;
    }

    .autoPayment {
        font-size: 1.1rem;
        padding: 14px;
    }

    .changeBtns button {
        font-size: 0.65rem;
        padding: 5px 11px;
    }

    .extend {
        font-size: 0.7rem;
        gap: 14px;
    }

    .extend button {
        font-size: 0.6rem;
        padding: 4px 14px;
    }

    .payBtn {
        font-size: 1.1rem;
        padding: 10px 0;
    }

    .title {
        font-size: .9rem;
    }

    .row, .mainInfo {
        font-size: 1rem;
    }

    .secondInfo {
        font-size: 0.85rem;
    }

    .columnExpenses{
        padding: 7px 20px 15px;
    }

    .titleExpenses{
        font-size: .8rem;
        text-wrap: nowrap;
    }

    .infoExpenses{
        font-size: 1rem;
        text-wrap: nowrap;
    }
}

@media (min-width: 1441px) and (max-width: 2559px) {
    .top .welcome{
        font-size: 1rem;
    }

    .mainAccount .top .description{
        font-size: 1.2rem;
    }

    .mainAccountContent {
        gap: 1%;
    }

    .info {
        padding: 0 14px;
    }

    .description {
        font-size: 1rem;
    }

    .infoExpenses {
        font-size: 1.3rem;
    }


    .graphModal{
        max-height: 232px;
    }

    .autoPayment {
        font-size: 1.1rem;
        padding: 14px;
    }

    .changeBtns button {
        font-size: .9rem;
        padding: 5px 11px;
    }

    .extend {
        font-size: 1rem;
        gap: 14px;
    }

    .extend button {
        font-size: .9rem;
        padding: 4px 14px;
    }

    .payBtn {
        font-size: 1.1rem;
        padding: 10px 0;
    }

    .title {
        font-size: 1.1rem;
    }

    .row, .mainInfo {
        font-size: 1.3rem;
    }

    .secondInfo {
        font-size: 1.1rem;
    }

    .columnExpenses{
        padding: 7px 20px 15px;
    }

    .titleExpenses{
        font-size: 1rem;
        text-wrap: nowrap;
    }
}

@media (min-width: 2560px) {
    .title{
        font-size: 2rem;
    }

    .mainInfo {
        font-size: 2rem;
    }

    .secondInfo{
        font-size: 1.7rem;
    }

    .info {
        padding: 0 40px;
    }

    .changeBtns button{
        font-size: 1.45rem;
    }

    .row{
        font-size: 2rem;
    }

    .extend{
        font-size: 1.5rem;
    }

    .extend button{
        font-size: 1.7rem;
    }

    .payBtn{
        font-size: 1.6rem;
    }

    .autoPayment{
        font-size: 2rem;
    }

    .expenses {
        gap: 50px;
    }

    .description {
        font-size: 2.25rem;
    }

    .titleExpenses{
        font-size: 1.6rem;
    }

    .infoExpenses {
        font-size: 2.3rem;
    }
}



