@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&display=swap');

:root {
    /* Тени */
    --main-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    /* Фоны */
    --background: radial-gradient(92.92% 490.48% at 6.95% 10.91%, rgba(255, 255, 255, 0.32) 0%, #2973C8 79.81%);
    --bg-primary: #F0F3F6;
    --bg-secondary: #FEFEFE;
    --bg-tertiary: #EBEBEB;
    --bg-quaternary: #2E374F;

    /* Особые Фоны */
    --calendar-primary: #F0F3F6;
    --calendar-primary-hover: #D9DDE1;
    --checkListItem-primary: #EBEBEB;
    --checkListItem-primary-hover: #E6E6E6;
    --checkSelectListItemprimary: #A7DFF1;
    --checkSelectListItem-primary-hover: #8CC3D6;
    --checkbox-color: #2E374F;
    --checkbox-fill: #2E374F;
    --contextMenu-bg-primary: #FEFEFE;
    --contextMenu-border-primary: #CCCCCC;
    --contextMenu-item-primary-hover: #D9DDE1;
    --payModel-bg-primary: #FEFEFE;
    --columnExpenses-bg-primary: #27324A;
    --graphModal-bg-primary: #2E374F;
    --notificationsItem-bg-primary: #FEFEFE;
    --notificationsItemActive-bg-primary: #FEFEFE;
    --specialistSuppoer-bg-primary: #F0F3F6;
    --messageBubbleUser-bg-primary: #A7DFF1;
    --messageBubbleAdmin-bg-primary: #27324A;
    --appeals-bg-primary: #2E374F;
    --appeal-bg-primary: #3E4966;
    --appeal-bg-primary-hover: #343d55;

    /* Шрифты */
    --font-primary: #2E374F;
    --font-secondary: #FEFEFE;
    --font-tertiary: #EBEBEB;
    --font-quaternary: #F0F3F6;

    /* Особые Шрифты */
    --logo-primary: #2E374F;
    --messageBubbleUser-font-primary: #2E374F;
    --messageBubbleAdmin-font-primary: #FEFEFE;

    /* SVG */
    --svg-primary: #2E374F;
    --svg-navItem-primary: #2E374F;
    --svg-navItemSelect-primary: #EBEBEB;

    /* Кнопки */
    --btn-primary: #FF6700;
    --btn-primary-hover: #E55E00;
    --btn-secondary: #A7DFF1;
    --btn-secondary-hover: #8CC3D6;
    --btn-tertiary: #2E374F;
    --btn-tertiary-hover: #27324A;
    --btn-quaternary: #FEFEFE;
    --btn-quaternary-hover: #E6E6E6;
    --btn-bg-primary: #F0F3F6;
    --btn-bg-primary-hover: #D9DDE1;

    /* Особые Кнопки */
    --changeBtns-bg-primary: #A7DFF1;
    --changeBtns-bg-primary-hover: #8CC3D6;
    --btnPeriod-bg-primary: #F0F3F6;
    --btnPeriod-bg-primary-hover: #D9DDE1;
    --btnPeriodSelect-bg-primary: #A7DFF1;
    --btnPeriodSelect-bg-primary-hover: #8CC3D6;
    --autoPayment-bg-primary: #FEFEFE;
    --autoPayment-bg-primary-hover: #E6E6E6;
    --appealsBtn-bg-primary: #FEFEFE;
    --appealsBtn-bg-primary-hover: #E6E6E6;

    /* Ошибки и всплывающие окна */
    --alert-error: #F54447;
    --alert-success: #6EFF78;
    --alert-info: #F0F3F6;
}

/* Тёмная тема */
[data-theme="dark"] {
    /* Фоны */
    --bg-primary: #111111;
    --bg-secondary: #242424;
    --bg-tertiary: #2E374F;
    --bg-quaternary: #F0F3F6;
    --bg-quinary: #EBEBEB;

    /* Особые Фоны */
    --checkListItem-primary: #565656;
    --checkListItem-primary-hover: #2E374F;
    --checkSelectListItemprimary: #27324A;
    --checkSelectListItem-primary-hover: #1a2233;
    --checkbox-color: #EBEBEB;
    --checkbox-fill: #EBEBEB;
    --contextMenu-bg-primary: #111111;
    --contextMenu-border-primary: #111111;
    --contextMenu-item-primary-hover: #565656;
    --payModel-bg-primary: #111111;
    --columnExpenses-bg-primary: #111111;
    --graphModal-bg-primary: #111111;
    --notificationsItem-bg-primary: #242424;
    --notificationsItemActive-bg-primary: #27324A;
    --specialistSuppoer-bg-primary: #565656;
    --messageBubbleUser-bg-primary: #565656;
    --messageBubbleAdmin-bg-primary: #111111;
    --appeals-bg-primary: #565656;
    --appeal-bg-primary: #111111;
    --appeal-bg-primary-hover: #050505;

    /* Шрифты */
    --font-primary: #FFF;
    --font-secondary: #FEFEFE;

    /* Особые Шрифты */
    --logo-primary: #EBEBEB;
    --messageBubbleUser-font-primary: #FEFEFE;
    --messageBubbleAdmin-font-primary: #FEFEFE;

    /* SVG */
    --svg-primary: #EBEBEB;
    --svg-navItem-primary: #EBEBEB;
    --svg-navItemSelect-primary: #EBEBEB;

    /* Кнопки */
    --btn-primary: #FF6700;
    --btn-primary-hover: #E55E00; /* чуть темнее */
    --btn-secondary: #A7DFF1;
    --btn-secondary-hover: #8CC3D6;
    --btn-tertiary: #242424;
    --btn-tertiary-hover: #1E1E1E;

    /* Особые Кнопки */
    --changeBtns-bg-primary: #111111;
    --changeBtns-bg-primary-hover: #050505;
    --btnPeriod-bg-primary: #111111;
    --btnPeriod-bg-primary-hover: #050505;
    --btnPeriodSelect-bg-primary: #E55E00;
    --btnPeriodSelect-bg-primary-hover: #E55E00;
    --autoPayment-bg-primary: #242424;
    --autoPayment-bg-primary-hover: #191919;
    --appealsBtn-bg-primary: #111111;
    --appealsBtn-bg-primary-hover: #050505;

    /* Ошибки и всплывающие окна */
    --alert-error: #F54447;
    --alert-success: #6EFF78;
    --alert-info: #F0F3F6;
}

* {
    box-sizing: border-box;
    transition: background-color .2s ease-in-out, background .2s ease-in-out, color .2s ease-in-out;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Inter", sans-serif;
    color: var(--font-primary);
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

button, input {
    font-family: "Inter", sans-serif;
    border: none;
    outline: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dev-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto 0;
    gap: 20px;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: auto;
    max-width: max-content;
}

.logo img{
    width: 6.6vw;
    height: auto;
}

.logo .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo .title h1 {
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.logo .title p {
    color: var(--btn-secondary);
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dev-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.dev-mode h1{
    text-align: center;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.dev-mode span{
    color: var(--font-primary);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) {
    .logo .title h1 {
        font-size: 1.6rem;
    }

    .logo .title p {
        font-size: .7rem;
    }

    .logo {
        gap: 8px;
    }

    .wrapper {
        padding: 10px;
    }
}
