.CalendarModel {
    position: absolute;
    top: 35px;
    left: 15px;
    display: flex;
    gap: 10px;
    border-radius: 4px;
    background: #F0F3F6;
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.25);
    z-index: 9999;
    max-height: max-content;
    user-select: none;
}



.CalendarModel button{
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.left{
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 5px;
}

.topMoth{
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.date{
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.date .top {
    display: grid;
    grid-template-columns: repeat(7, 20px);
    text-align: center;
    gap: 7px;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.date .main {
    display: grid;
    grid-template-columns: repeat(7, 20px);
    gap: 7px;
    text-align: center;;
}

.day {
    padding: 7px;
    height: 17px;
    width: 17px;
    font-size: 0.625rem;
    font-weight: 600;
    text-align: center;
    color: #2E374F;
    position: relative;
    z-index: 1;
}

.inRange {
    background: #2E374F;
    z-index: 2;
    color: #F0F3F6;;
    border-radius: 4px;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.25);
}

/* Чтобы "заливка" интервала была между крайними датами, можно добавить псевдоэлементы */
.inRange::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2E374F;
    border-radius: 4px;
    z-index: -1;
}


.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 0.25rem;
    background: #2E374F;
    padding: 5px;
}

.yearItem {
    cursor: pointer;
    padding: 2px 6px;
    border-radius: 4px;
    color: #FFF;
    text-align: right;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.yearItem .active {
    background-color: #2E374F;
    color: white;
}

.daySelected {
    border-radius: 4px;
    background: #F0F3F6;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.25);
}

.yearActive {
    background: #424B62;
}
