.changeTheme{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.theme{
    display: flex;
    margin: 0.62rem;
    justify-content: center;
    align-items: center;
}