.changeTheme{
    border-radius: 10px;
    background: var(--bg-secondary);
    box-shadow: var(--main-box-shadow);
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.theme{
    display: flex;
    margin: 0.62rem;
    justify-content: center;
    align-items: center;
}