.listItem {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    width: 100%;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    opacity: 0;
    transform: translateY(15px);
}

.fadeIn {
    animation-name: fadeSlideIn;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}


@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.listItem:after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: var(--btn-quaternary);
}

.listItem:hover {
    background: var(--btn-quaternary-hover);
}

.listItem img {
    margin-right: 43px;
}

.characteristic {
    display: grid;
    grid-template-columns: .85fr 1.2fr 1fr .5fr 1fr;
    align-items: center;
    gap: 5px;
    width: 100%;
    font-size: 0.875rem;
}

.characteristic p:last-child {
    margin-left: auto;
}

.selectListItem{
    background: var(--btn-secondary);
}

.selectListItem:hover{
    background: var(--btn-secondary-hover);
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .characteristic {
        grid-template-columns: .85fr 1.2fr 1fr .5fr 1fr;
        font-size: 0.8125rem;
        gap: 8px;
    }
}

@media (min-width: 1441px) and (max-width: 2559px) {
    .characteristic {
        grid-template-columns: .85fr 1.2fr 1fr .5fr 1fr;
        font-size: 0.875rem;
        gap: 10px;
    }
}

@media (min-width: 2560px) {

    .characteristic {
        grid-template-columns: 1fr 1.5fr 1.2fr 0.7fr 1.3fr;
        font-size: 1rem;
        gap: 15px;
    }
}


