.checkItem {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    margin: 20px 15px 20px 0;
    border-radius: 5px;
    background: #F0F3F6;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 500px;
}

.notHaveChek {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

.notHaveChek span:first-child {
    font-size: 1.875rem;
    font-weight: 600;
}

.notHaveChek span:last-child {
    font-size: 0.8125rem;
    opacity: 0.8;
}

.haveChek {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 19px;
    height: 100%;
}

.top, .center, .data, .result {
    display: flex;
    justify-content: space-between;
}

.top{
    position: relative;
}

.center{
    flex-direction: column;
    gap: 1px;
    text-align: center;
}

.top .center span:first-child {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.top .center span:last-child {
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.75;
}

.moreFunc{
    display: flex;
    background: #FFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
    padding: 17px 8px;
    border-radius: 5px;
    cursor: pointer;
    max-height: max-content ;
}

.closeBtn{
    display: flex;
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.data {
    font-size: 0.875rem;
    font-weight: 500;
    opacity: 0.75;
}

.characteristics {
    display: flex;
    flex-direction: column;
    gap: 22px;
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    min-height: 0;
    padding-right: 15px;
    box-sizing: content-box;
}
.section1, .section2, .section3, .section4 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
}

.section1{
    gap: 22px;
}

.section1 .top, .section1 .data {
    display: grid;
    grid-template-columns: 2fr 0.6fr 1fr;
    gap: 20px;
}


.section1 .top{
    opacity: 0.75;
}

.section1 .top span:nth-child(1), .section1 .data span:nth-child(1) {
    text-align: left;
}

.section1 .top span:nth-child(2), .section1 .data span:nth-child(2) {
    text-align: center;
}

.section1 .top span:nth-child(3), .section1 .data span:nth-child(3) {
    text-align: right;
}

.section1 .name{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.section3{
    flex-direction: row;
    gap: 42px;
}

.section3 .left, .section3 .right{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 4px;
}

.section4 .data span:nth-child(1) {
    text-align: left;
}

.section4 .data span:nth-child(2) {
    text-align: right;
}

.section1 .name::after,
.section2::after,
.section3::after,
.section4::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #C2C2C2;
}

.section1 .top::after{
    content: "";
    position: absolute;
    top: 22px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #C2C2C2;
}

.download {
    margin: 0 auto;
    padding: 6px 41px;
    border: none;
    background: #FF6700;
    color: white;
    font-size: 1.75rem;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.qrCode {
    background: url("/qr-code_1.png") no-repeat center center;
    background-size: contain;
    flex-shrink: 0;
    width: 240px;
    height: 239px;
    margin: 0 auto;
}

.multiChecks{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 19px;
}

.multiTop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.multiTop .center{
    flex: .95;
}

.multiTop .center span{
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.multiTop button{
    margin-left: auto;
    flex: .05;
}

.multiCharacteristics{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.multiChecksList{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
}

.multiChecksList .top,
.itemChecksList .item {
    display: grid;
    grid-template-columns: 1.74fr 1.44fr 1.3fr;
}


.multiChecksList .top span:nth-child(2), .itemChecksList .item .buyer{
    text-align: center;
}

.multiChecksList .top span:nth-child(3), .itemChecksList .item .price{
    text-align: right;
}

.itemChecksList{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow-y: auto;
    max-height: 530px;
}

.itemChecksList::-webkit-scrollbar {
    padding-left: 10px;
    width: 8px;
    background: #F0F3F6;
}

.itemChecksList::-webkit-scrollbar-track {
    background: #F0F3F6;
    border-radius: 2px;
}

.itemChecksList::-webkit-scrollbar-thumb {
    background: #2E374F;
    border-radius: 2px;
}

.salesManData{
    display: flex;
    flex-direction: column;
    gap: 1px;
    justify-content: center;
}

.salesManData .salesman, .salesManData .ooo{
    text-align: left;
}

.itemChecksList .item{
    position: relative;
}

.itemChecksList .item:after, .multiChecksList .top:after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #C2C2C2;
}

.itemChecksList .item span{
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.itemChecksList .item span:nth-child(3){
    font-weight: 600;
}

.multiChecksList .bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.multiChecksList .bottom span:last-child{
    font-weight: 600;
}

.btnBottom{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.btnBottom .buyChecks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 0 auto;
    padding: 11px 20px;
    border: none;
    background: #FF6700;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.modalOverlay {
    position: fixed;
    inset: 0;                       /* top, right, bottom, left: 0 */
    background: rgba(0, 0, 0, 0.27);
    backdrop-filter: blur(2px);
    z-index: 9998;                  /* ниже PayModel (9999) */
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .checkItem {
        flex: 0.4;
        max-width: 450px;
    }

    .top .center span:first-child {
        font-size: 1.75rem;
    }

    .top .center span:last-child {
        font-size: 1.125rem;
    }

    .download {
        font-size: 1.5rem;
        padding: 6px 35px;
    }

    .qrCode {
        width: 200px;
        height: 200px;
    }

    .multiChecksList .top,
    .itemChecksList .item {
        grid-template-columns: 1.6fr 1.3fr 1.1fr;
    }

    .btnBottom .buyChecks {
        font-size: 0.875rem;
        padding: 10px 18px;
    }
}

@media (min-width: 1441px) and (max-width: 2559px) {
    .checkItem {
        flex: 0.3;
        max-width: 500px;
    }

    .top .center span:first-child {
        font-size: 2rem;
    }

    .top .center span:last-child {
        font-size: 1.25rem;
    }

    .download {
        font-size: 1.75rem;
        padding: 6px 41px;
    }

    .qrCode {
        width: 240px;
        height: 239px;
    }

    .multiChecksList .top,
    .itemChecksList .item {
        grid-template-columns: 1.74fr 1.44fr 1.3fr;
    }

    .btnBottom .buyChecks {
        font-size: 1rem;
        padding: 11px 20px;
    }
}

@media (min-width: 2560px) {
    .checkItem {
        flex: 0.25;
        max-width: 600px;
    }

    .top .center span:first-child {
        font-size: 2.25rem;
    }

    .top .center span:last-child {
        font-size: 1.5rem;
    }

    .download {
        font-size: 2rem;
        padding: 10px 50px;
    }

    .qrCode {
        width: 300px;
        height: 300px;
    }

    .multiChecksList .top, .itemChecksList .item {
        grid-template-columns: 2fr 1.6fr 1.5fr;
    }

    .btnBottom .buyChecks {
        font-size: 1.125rem;
        padding: 14px 24px;
    }
}

