.cheksList {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0.9;
    gap: 19px;
    user-select: none;
    min-height: 100%;
}

.mainCheckList {
    display: flex;
    flex-direction: row;
    gap: 15px;
    border-radius: 10px;
    background: var(--bg-secondary);
    box-shadow: var(--main-box-shadow);
    height: 100%;
    min-height: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left,
.header__right {
    display: flex;
    align-items: center;
    gap: 13px;
}

.header__left {
    gap: 25px;
}

.leftBoxCheckList {
    display: flex;
    flex-direction: column;
    flex: 0.7;
    gap: 20px;
    padding-top: 15px;
    height: 100%;
}

.top {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    width: 100%;
}

.sortedKey {
    display: grid;
    grid-template-columns: .85fr 1.2fr 1fr .5fr 1fr;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.btnKey:last-child {
    margin-left: auto;
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: none;
    border-radius: 6px;
    background: var(--calendar-primary);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-right: 43px;
    transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.calendar:hover {
    background: var(--calendar-primary-hover);
}

.calendar:active {
    transform: scale(0.97);
}

.btnKey {
    display: flex;
    align-items: center;
    background: transparent;
    color: var(--font-primary);
    font-size: 1.0625rem;
    font-weight: 500;
    border: none;
    padding: 0;
    cursor: pointer;
    max-width: max-content;
}

.btnKey svg{
    margin-left: 5px;
}

.btnKey svg path{
    stroke: var(--logo-primary);
}

.stub{
    display: flex;
    min-width: 46px;
    max-width: 46px;
    height: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    min-height: 0;
    padding-bottom: 15px;
}

.loadMoreBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 5px 0;
    border: none;
    border-radius: 6px;
    background: var(--btn-primary);
    color: var(--font-secondary);
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    margin: 5px auto 0;
    transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.loadMoreBtn:hover {
    background: var(--btn-primary-hover);
}

.loadMoreBtn:active {
    transform: scale(0.97);
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .sortedKey {
        grid-template-columns: .85fr 1.2fr 1fr .5fr 1fr;
        font-size: 0.9rem;
    }

    .leftBoxCheckList {
        flex: 1;
        padding-top: 10px;
    }

    .header__left {
        gap: 15px;
    }

    .btnKey {
        font-size: .9rem;
    }

    .loadMoreBtn {
        width: 160px;
        font-size: 18px;
    }
}

@media (min-width: 1441px) and (max-width: 2559px) {
    .sortedKey {
        grid-template-columns: .85fr 1.2fr 1fr .5fr 1fr;
        gap: 10px;
    }

    .btnKey {
        font-size: 1.1rem;
    }

    .leftBoxCheckList {
        padding-top: 15px;
    }

    .loadMoreBtn {
        width: 180px;
        font-size: 20px;
    }
}


@media (min-width: 2560px) {
    .top{
        padding-left: 30px;
    }

    .sortedKey {
        grid-template-columns: 1fr 1.5fr 1.2fr 0.7fr 1.3fr;
        font-size: 1.1rem;
        gap: 15px;
    }

    .btnKey {
        font-size: 1.25rem;
    }

    .loadMoreBtn {
        width: 240px;
        font-size: 24px;
        padding: 10px 0;
    }

    .header__left,
    .header__right {
        gap: 25px;
    }
}
