.listItem {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    width: 100%;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.listItem:after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #EBEBEB;
}

.listItem:hover {
    background: #ececec;
}

.listItem img {
    margin-right: 43px;
}

.characteristic {
    display: grid;
    grid-template-columns: .85fr 1.2fr 1fr .5fr 1fr;
    align-items: center;
    gap: 5px;
    width: 100%;
    font-size: 0.875rem;
}

.characteristic p:last-child {
    margin-left: auto;
}

.selectListItem{
    background: #A7DFF1;
}

.selectListItem:hover{
    background: #8cdcf6;
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .characteristic {
        grid-template-columns: 1.6fr 2fr 2fr 1.8fr 1fr;
    }

    .listItem img {
        margin-right: 30px;
    }
}


@media (min-width: 1441px) and (max-width: 2560px) {
    .characteristic {
        grid-template-columns: 1fr 1.5fr 1fr 0.7fr 1fr;
        gap: 10px;
    }

    .listItem img {
        margin-right: 40px;
    }
}


@media (min-width: 2561px) {
    .characteristic {
        grid-template-columns: 1fr 2fr 1.5fr 1fr 1.5fr;
        gap: 15px;
    }

    .listItem {
        font-size: 1.125rem;
        padding: 18px 25px;
    }

    .listItem img {
        margin-right: 50px;
        max-width: 60px;
    }
}

