.menu{
    position: fixed;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 9999;
    list-style: none;
    padding: 4px 0;
    opacity: 0;
    pointer-events: none;
}

.menu.open {
    animation: openMenu 0.4s ease forwards;
    pointer-events: auto;
}

@keyframes openMenu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.menuItem{
    padding: 3px 100px 3px 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    transition: background-color 0.2s ease-in-out;
}

.menuItem:hover{
    background-color: #E5E5E5;;
}