.menu {
    position: absolute;
    left: 0;
    top: 80%;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    padding: 4px 0;
}
.menu button {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 6px 10px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}
.menu button:hover {
    background-color: #E5E5E5;
}
