.reference {
    position: absolute;
    top: 0;
    right: 55px;
    height: 3rem;
    width: 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.625rem;
    background: var(--bg-secondary);
    box-shadow: var(--main-box-shadow);
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    z-index: 1000;
}

.circle {
    width: 1.75rem;
    height: 1.75rem;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid var(--font-primary);
    margin: 0 0.62rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle span {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
}

.dropLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    padding: 10px 12px;
}

.dropLinks a {
    text-decoration: none;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dropLinks a:hover {
    text-decoration: underline;
}

.dropLinks a:visited {
    color: var(--font-primary);
}
