.search{
    position: relative;
    display: flex;
}

.searchGlass{
    position: absolute;
    padding: 0.85rem 0.75rem 0.75rem;
}

.search input{
    width: 42.375rem;
    height: 3rem;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    outline: none;
    border: none;
    padding-left: 3.06rem;
    color: var(--textColor);
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search input::placeholder{
    color: var(--textColor);
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.overWrapper{
    position: absolute;
    top: 60px;
    left: -10px;
    z-index: 9999;
    width: 105%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.overItem{
    display: flex;
    height: 49px;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    background: #FFF;
    transition: background .2s ease-in-out;
}

.overItem:hover{
    background: #E5E5E5;
}