.notifications {
    display: flex;
    flex-direction: column;
    flex: 0.9;
    gap: 19px;
    user-select: none;
    min-height: 100%;
    width: 100%;
    min-width: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__right {
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 13px;
}

.mainNotifications {
    display: flex;
    height: 100%;
    min-height: 0;
}

.listNotifications{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    min-height: 0;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    min-width: 0;
}

.item {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #FEFEFE;
    padding: 20px;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.25);
    color: inherit;
    min-width: 0;
}

.activeItem {
    background: #2E374F;
    color: #EBEBEB;
}

.top {
    display: flex;
    align-items: center;
    gap: 110px;
    white-space: nowrap;
    flex-direction: row;
    min-width: 0;
}

.date{
    font-size: 1.0625rem;
}

.info {
    display: flex;
    align-items: center;
    gap: 63px;
    flex: 1;
    min-width: 0;
    font-size: 1.0625rem;
}

.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fullDescription {
    padding-top: 25px;
    color: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    white-space: normal;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .item {
        padding: 16px;
        font-size: 0.9375rem;
    }

    .top {
        gap: 60px;
        font-size: 1rem;
    }

    .info {
        gap: 40px;
        font-size: 1rem;
    }

    .fullDescription {
        font-size: 0.9375rem;
    }
}

@media (min-width: 1441px) and (max-width: 2559px) {
    .item {
        padding: 18px;
        font-size: 1rem;
    }

    .top {
        gap: 90px;
        font-size: 1.0625rem;
    }

    .info {
        gap: 55px;
        font-size: 1.0625rem;
    }

    .fullDescription {
        font-size: 1rem;
    }
}

@media (min-width: 2560px) {
    .item {
        padding: 24px;
        font-size: 1.125rem;
    }

    .top {
        gap: 130px;
        font-size: 1.1875rem;
    }

    .info {
        gap: 80px;
        font-size: 1.125rem;
    }

    .fullDescription {
        font-size: 1.125rem;
    }
}


