.notifications {
    display: flex;
    flex-direction: column;
    flex: 0.9;
    gap: 19px;
    user-select: none;
    min-height: 100%;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__right {
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 13px;
}

.mainNotifications {
    display: flex;
    flex-direction: row;
    gap: 15px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    height: 100%;
    min-height: 0;
}

.listNotifications{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    min-height: 0;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.item {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #FEFEFE;
    padding: 20px;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.25);
    color: inherit; /* чтобы можно было менять цвет на activeItem */
}

.activeItem {
    background: #2E374F;
    color: #EBEBEB;
}

.top {
    display: flex;
    align-items: center;
    gap: 110px;
    white-space: nowrap;
    flex-direction: row;
}

.info {
    display: flex;
    align-items: center;
    gap: 63px;
    flex: 1;
}

.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fullDescription {
    padding-top: 25px;
    color: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    white-space: normal;
}
