.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.31rem;
    user-select: none;
    margin-right: auto;
    color: var(--logo-primary);
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.left span:first-child{
    font-size: 1.375rem;
    font-weight: 600;
    line-height: normal;
}

.left span:last-child{
    font-size: 0.625rem;
    font-weight: 600;
    line-height: normal;
}