.profile{
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--bg-secondary);
    z-index: 0;
}

.content {
    position: relative;
    display: flex;
    padding: 13px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
    color: var(--font-primary);
    max-width: 100%; /* по умолчанию */
    margin: 0 auto;   /* центрирование */
}


.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    gap: 7px;
}

.leftBox{
    flex: .1;
    display: flex;
    flex-direction: column;
    gap: 54px;
    position: relative;
}

.leftBox main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
}

.reklama{
    position: relative;
    width: 96%;
    height: 100%;
    max-height: 20vw;
    flex-shrink: 0;
    background: #505050;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}


@media (min-width: 2560px) {
    .main {
        max-width: 2560px;
        min-width: 2560px;
        margin: auto;
    }

    .content {
        justify-content: center;
        align-items: center;
    }
}
